@font-face {
  font-family: icomoon;
  src: url(../fonts/icomoon/icomoon.eot?6tt51o);
  src: url(../fonts/icomoon/icomoon.eot?6tt51o#iefix) format('embedded-opentype'), url(../fonts/icomoon/icomoon.ttf?6tt51o) format('truetype'), url(../fonts/icomoon/icomoon.woff?6tt51o) format('woff'), url(../fonts/icomoon/icomoon.svg?6tt51o#icomoon) format('svg');
  font-weight: 400;
  font-style: normal
}

[class*=" icon-"], [class^=icon-] {
  font-family: icomoon!important;
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale
}

.icon-envelope-o:before {
  content: "\f003"
}

.icon-heart:before {
  content: "\f004"
}

.icon-user:before {
  content: "\f007"
}

.icon-home:before {
  content: "\f015"
}

.icon-list-alt:before {
  content: "\f022"
}

.icon-font:before {
  content: "\f031"
}

.icon-text-height:before {
  content: "\f034"
}

.icon-text-width:before {
  content: "\f035"
}

.icon-align-left:before {
  content: "\f036"
}

.icon-align-center:before {
  content: "\f037"
}

.icon-align-right:before {
  content: "\f038"
}

.icon-align-justify:before {
  content: "\f039"
}

.icon-list:before {
  content: "\f03a"
}

.icon-image:before {
  content: "\f03e"
}

.icon-map-marker:before {
  content: "\f041"
}

.icon-arrow-left:before {
  content: "\f060"
}

.icon-arrow-right:before {
  content: "\f061"
}

.icon-expand:before {
  content: "\f065"
}

.icon-exclamation-circle:before {
  content: "\f06a"
}

.icon-exclamation-triangle:before {
  content: "\f071"
}

.icon-heart-o:before {
  content: "\f08a"
}

.icon-phone:before {
  content: "\f095"
}

.icon-arrow-circle-left:before {
  content: "\f0a8"
}

.icon-arrow-circle-right:before {
  content: "\f0a9"
}

.icon-link:before {
  content: "\f0c1"
}

.icon-copy:before {
  content: "\f0c5"
}

.icon-list-ul:before {
  content: "\f0ca"
}

.icon-list-ol:before {
  content: "\f0cb"
}

.icon-envelope:before {
  content: "\f0e0"
}

.icon-linkedin:before {
  content: "\f0e1"
}

.icon-user-md:before {
  content: "\f0f0"
}

.icon-circle-o:before {
  content: "\f10c"
}

.icon-quote-left:before {
  content: "\f10d"
}

.icon-quote-right:before {
  content: "\f10e"
}

.icon-circle:before {
  content: "\f111"
}

.icon-location-arrow:before {
  content: "\f124"
}

.icon-exclamation:before {
  content: "\f12a"
}

.icon-html5:before {
  content: "\f13b"
}

.icon-css3:before {
  content: "\f13c"
}

.icon-toggle-right:before {
  content: "\f152"
}

.icon-instagram:before {
  content: "\f16d"
}

.icon-arrow-circle-o-right:before {
  content: "\f18e"
}

.icon-arrow-circle-o-left:before {
  content: "\f190"
}

.icon-toggle-left:before {
  content: "\f191"
}

.icon-send:before {
  content: "\f1d8"
}

.icon-send-o:before {
  content: "\f1d9"
}

.icon-copyright:before {
  content: "\f1f9"
}

.icon-cc:before {
  content: "\f20a"
}

.icon-whatsapp:before {
  content: "\f232"
}

.icon-500px:before {
  content: "\f26e"
}

.icon-map-pin:before {
  content: "\f276"
}

.icon-map-o:before {
  content: "\f278"
}

.icon-map:before {
  content: "\f279"
}

.icon-blind:before {
  content: "\f29d"
}

.icon-first-order:before {
  content: "\f2b0"
}

.icon-fa:before {
  content: "\f2b4"
}

.icon-font-awesome:before {
  content: "\f2b4"
}

.icon-envelope-open:before {
  content: "\f2b6"
}

.icon-envelope-open-o:before {
  content: "\f2b7"
}

.icon-user-circle:before {
  content: "\f2bd"
}

.icon-user-circle-o:before {
  content: "\f2be"
}

.icon-user-o:before {
  content: "\f2c0"
}

.icon-s15:before {
  content: "\f2cd"
}

.icon-arrow_back:before {
  content: "\e5c4"
}

.icon-block:before {
  content: "\e14b"
}

.icon-class:before {
  content: "\e86e"
}

.icon-business_center:before {
  content: "\eb3f"
}

.icon-phone2:before {
  content: "\e0cd"
}

.icon-chat:before {
  content: "\e0b7"
}

.icon-contact_phone:before {
  content: "\e0cf"
}

.icon-content_copy:before {
  content: "\e14d"
}

.icon-copyright2:before {
  content: "\e90c"
}

.icon-description:before {
  content: "\e873"
}

.icon-fullscreen:before {
  content: "\e5d0"
}

.icon-home2:before {
  content: "\e88a"
}

.icon-link2:before {
  content: "\e157"
}

.icon-iso:before {
  content: "\e3f6"
}

.icon-label:before {
  content: "\e892"
}

.icon-open_in_new:before {
  content: "\e89e"
}

.icon-list2:before {
  content: "\e896"
}

.icon-map2:before {
  content: "\e55b"
}

.icon-menu:before {
  content: "\e5d2"
}

.icon-navigation:before {
  content: "\e55d"
}

.icon-opacity:before {
  content: "\e91c"
}

.icon-person:before {
  content: "\e7fd"
}

.icon-person_pin:before {
  content: "\e55a"
}

.icon-person_pin_circle:before {
  content: "\e56a"
}

.icon-personal_video:before {
  content: "\e63b"
}

.icon-select_all:before {
  content: "\e162"
}

.icon-send2:before {
  content: "\e163"
}

.icon-style:before {
  content: "\e41d"
}

.icon-subdirectory_arrow_left:before {
  content: "\e5d9"
}

.icon-subdirectory_arrow_right:before {
  content: "\e5da"
}

.icon-title:before {
  content: "\e264"
}

.icon-video_label:before {
  content: "\e071"
}

.icon-web:before {
  content: "\e051"
}

.icon-wrap_text:before {
  content: "\e25b"
}